<header>

<nav class="navbar navbar-expand-lg bg-white">
<div class="container">

<% if user_signed_in? %> <%# ここから次のelsifの列にいくまでがpublic_userのヘッダー%>

  <h2 class="nav-link text-left">
    <%= link_to root_path, class: "nav-link text-dark" do %>
      <i class="fas fa-golf-ball"></i>Golfi
    <% end %>
  </h2>

  <li class="list-unstyled">Welcome!<br><%= current_user.name %>!</li>

  <li class="nav-link text-dark"><%= link_to "MyPage", public_user_path(current_user), class: "nav-link text-dark" %></li>

  <li class="nav-link text-dark"><%= link_to "Column", public_columns_path, class: "nav-link text-dark" %></li>

  <li class="nav-link text-dark"><%= link_to "User", public_users_path, class: "nav-link text-dark" %></li>

  <li class="nav-link text-dark"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link text-dark" %></li>

  <li class="nav-link text-dark"><%= render "layouts/search" %></li>

<% elsif admin_signed_in? %>

  <h2 class="nav-link text-left">
    <%= link_to admin_root_path, class: "nav-link text-dark" do %>
      <i class="fas fa-golf-ball"></i> Golfi
    <% end %>
  </h2>

  <li class="nav-link text-dark"><%= link_to "column", admin_columns_path, class: "nav-link text-dark" %></li>

  <li class="nav-link text-dark"><%= link_to "User", admin_users_path, class: "nav-link text-dark" %></li>

  <li class="nav-link text-dark"><%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "nav-link text-dark" %></li>

  <li class="nav-link text-dark"><%= render "layouts/search" %></li>

<% else %>

  <h2 class="nav-link text-left">
    <%= link_to root_path, class: "nav-link text-dark" do %>
      <i class="fas fa-golf-ball"></i> Golfi
    <% end %>
  </h2>

  <li class="nav-link text-dark"><%= link_to "About", about_path, class: "nav-link text-dark" %></li>

  <li class="nav-link text-dark"><%= link_to "Column", public_columns_path, class: "nav-link text-dark" %></li>

  <li class="nav-link text-dark"><%= link_to "SignUp" ,new_user_registration_path, class: "nav-link text-dark" %></li>

  <li class="nav-link text-dark"><%= link_to "Login" ,new_user_session_path, class: "nav-link text-dark" %></li>

<% end %>

</div>
</nav>

</header>